<div class="w-full bg-neutral text-neutral-content shadow-sm">
	<footer class="footer sm:footer-horizontal max-w-5xl mx-auto p-10 h-card" role="contentinfo" itemscope itemtype="http://schema.org/Organization">
		<aside>
			<div>
				<p class="p-name org u-org" itemprop="name"><strong>Hopman Masselman Groep</strong></p>
				<address class="h-adr" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
					<span class="p-street-address" itemprop="streetAddress">Sparrenlaan 22</span>, <br />
					<span class="p-postal-code" itemprop="postalCode">3768 BG</span> <span class="p-locality" itemprop="addressLocality">Soest</span>
					<meta class="p-country-name" itemprop="addressCountry" content="Nederland" />
				</address>
				<p class="mt-4">
					<span><abbr title="Kamer van Koophandel nummer">KVK</abbr>: 32138148</span>
				</p>
				<p class="mt-4">
					Copyright © {{dates.year.now()}}
				</p>
			</div>
		</aside>
		<nav aria-labelledby="service-policy">
			<h2 id="service-policy" class="footer-title">Service & Beleid</h2>
			<a class="link link-hover" href="/wettelijke-regelingen">Wettelijke en externe regelingen</a>
			<a class="link link-hover" href="/regels">Organisatie Regels</a>
			<a class="link link-hover" href="/privacy">Privacyverklaring</a>
			<a class="link link-hover" href="/contact">Contact</a>
		</nav>
		<nav aria-labelledby="social-media">
			<h2 id="social-media" class="footer-title">Sociale Media</h2>
			<div class="grid grid-flow-col gap-4">
				<a class="link link-hover u-url" href="https://www.facebook.com/HMGSoest/" rel="me" itemprop="sameAs" aria-label="Bezoek onze Facebook pagina">
					<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" class="fill-current" aria-hidden="true" focusable="false" viewBox="0 0 24 24">
						<title>Facebook</title>
						<path d="M9.1 23.7v-8H6.6V12h2.5v-1.5c0-4.1 1.8-6 5.9-6h1.4a8.7 8.7 0 0 1 1.2.3V8a8.6 8.6 0 0 0-.7 0 26.8 26.8 0 0 0-.7 0c-.7 0-1.3 0-1.7.3a1.7 1.7 0 0 0-.7.6 4 4 0 0 0-.3 1.7V12h3.9l-.4 2.1-.3 1.6h-3.2V24a12 12 0 1 0-4.4-.3Z"/>
					</svg>
					<span class="sr-only">Facebook</span>
				</a>
				<a class="link link-hover u-url" href="https://www.instagram.com/hmgsoest/" rel="me" itemprop="sameAs" aria-label="Bezoek onze Instagram pagina">
					<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" class="fill-current" aria-hidden="true" focusable="false" viewBox="0 0 24 24">
						<title>Instagram</title>
						<path d="M7 0 4 1 2 2 1 4 0 7a85 85 0 0 0 1 13l1 2 2 1 3 1a85 85 0 0 0 13-1l2-1 1-2 1-3a85 85 0 0 0-1-13l-1-2-2-1-3-1A85 85 0 0 0 7 0m0 22-2-1-1-1-1-1-1-2A85 85 0 0 1 3 5l1-1 1-1 2-1a84 84 0 0 1 12 1l1 1 1 1 1 2a83 83 0 0 1-1 12l-1 1-1 1-2 1a85 85 0 0 1-10 0M17 6a1 1 0 1 0 1-2 1 1 0 0 0-1 2M6 12a6 6 0 1 0 12 0 6 6 0 0 0-12 0m2 0a4 4 0 1 1 4 4 4 4 0 0 1-4-4"/>
					</svg>
					<span class="sr-only">Instagram</span>
				</a>
				<a class="link link-hover u-url" href="https://www.youtube.com/@hopman_masselman_groep" rel="me" itemprop="sameAs" aria-label="Bezoek ons YouTube kanaal">
					<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" class="fill-current" aria-hidden="true" focusable="false" viewBox="0 0 24 24">
						<title>YouTube</title>
						<path d="M23.5 6.2A3 3 0 0 0 21.4 4c-1.9-.5-9.4-.5-9.4-.5s-7.5 0-9.4.5A3 3 0 0 0 .5 6.3C0 8 0 12 0 12s0 4 .5 5.8A3 3 0 0 0 2.6 20c1.9.6 9.4.6 9.4.6s7.5 0 9.4-.6a3 3 0 0 0 2.1-2c.5-2 .5-5.9.5-5.9s0-4-.5-5.8zm-14 9.4V8.4l6.3 3.6-6.3 3.6z"/>
					</svg>
					<span class="sr-only">YouTube</span>
				</a>
			</div>
		</nav>
	</footer>
</div>
