<div class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-8 not-prose">
	<a href="/contact/bevers" class="btn btn-xl btn-primary text-primary-content" rel="nofollow">Bevers - 5-7 Jaar</a>
	<a href="/contact/welpen" class="btn btn-xl btn-primary" rel="nofollow">Welpen - 7-11 Jaar</a>
	<a href="/contact/verkenners" class="btn btn-xl btn-primary" rel="nofollow">Verkenners - 11-15 Jaar</a>
	<a href="/contact/rowans" class="btn btn-xl btn-primary" rel="nofollow">Rowans - 15-18 Jaar</a>
	<a href="/contact/voortrekkers" class="btn btn-xl btn-primary" rel="nofollow">Voortrekkers 18+</a>
</div>