---
title: Contact
description: Neem contact op met de HMG Soest.
layout: page.njk
---


<main class="max-w-5xl mx-auto">
	<section class="card bg-base-100 shadow-lg mt-10">
		<div class="card-body">
			<h1 class="text-3xl font-semibold mb-4">Contact</h1>
			<p class="mb-4">
				Je kunt direct contact opnemen met de speltakleiding, het bestuur of het verhuur.
			</p>

			<h2 class="text-2xl">Algemeen</h2>

			<div class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-8">
				<a href="/contact/algemeen" class="btn btn-xl">Algemeen - Het Bestuur</a>
				<a href="/contact/verhuur" class="btn btn-xl btn-secondary" rel="nofollow">Verhuur - De Stichting</a>
			</div>

			<p class="mb-4">
				<b class="font-bold">Dringende gevallen gaande de gebouwen of terrein</b>
			</p>
			<p class="mb-4">
				Ziet u iets bij of rondom de gebouwen dat u niet vertrouwd kunt u in dringende gevallen bellen met
				telnr. <a href="tel:0622071655" class="link text-accent">06-22071655</a>.
				U belt dan met het stichting bestuur dat de gebouwen beheert.
			</p>

			<h2 class="text-2xl">De Speltakken</h2>
			<p>Bij de speltakken kunt u de inschrijven om lid te worden. Ook kunt u hier terecht voor vragen over de
				speltakken.</p>
			</p>

			<div class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-8">
				<a href="/contact/bevers" class="btn btn-xl btn-primary" rel="nofollow">Bevers - 5-7 Jaar</a>
				<a href="/contact/welpen" class="btn btn-xl btn-primary" rel="nofollow">Welpen - 7-11 Jaar</a>
				<a href="/contact/verkenners" class="btn btn-xl btn-primary" rel="nofollow">Verkenners - 11-15 Jaar</a>
				<a href="/contact/rowans" class="btn btn-xl btn-primary" rel="nofollow">Rowans - 15-18 Jaar</a>
				<a href="/contact/voortrekkers" class="btn btn-xl btn-primary" rel="nofollow">Voortrekkers 18+</a>
			</div>

			<h2 class="text-2xl">Andere Contacten</h2>

			<div class="grid grid-cols-1 gap-6 mb-8">
				<a href="/contact/NKP" class="btn btn-xl btn-secondary" rel="nofollow">Het Nederlands Kampioenschap
					Pionieren</a>
				<a href="/contact/webmaster" class="btn btn-xl" rel="nofollow">Webmaster</a>
				<a href="https://www.ijsberenweekend.nl/contactform" class="btn btn-xl"
					rel="nofollow">IJsberenweekend</a>
				
				<p>
					Binnen de HMG hechten we veel waarde aan een open en veilige groepscultuur, gebaseerd op wederzijds
					vertrouwen tussen leden, ouders en vrijwilligers. Mocht u ongewenst gedrag signaleren of twijfels
					hebben over bepaalde situaties binnen de groep, dan kunt u dit bespreken met onze
					vertrouwenspersoon.
				</p>
				<p>
					We moedigen directe communicatie aan en adviseren om bij verschillen in verwachtingen,
					onduidelijkheden over werkwijzen of afspraken, of bij zorgen over onveilig gedrag, eerst in gesprek
					te gaan met de betrokkenen. Indien dit niet leidt tot een bevredigende oplossing, kunt u contact
					opnemen met de voorzitter of groepsbegeleider.
				</p>
				<p>
					Wanneer deze stappen niet toereikend zijn, staat onze vertrouwenspersoon klaar om met u mee te
					denken en te adviseren over mogelijke vervolgstappen.
				</p>
				<a href="/contact/vertrouwenspersoon" class="btn btn-xl" rel="nofollow">Vertrouwenspersoon</a>
			</div>

			<p></p>
		</div>
	</section>

	<section class="card bg-base-100 shadow-lg my-10">
		<div class="card-body">
			<h2 class="text-xl font-semibold mb-4">Locatie</h2>
			<div class="aspect-w-16 aspect-h-9">
				<iframe
					src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9791.382182689482!2d5.289136064565491!3d52.15531856611405!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c64229ec4d8ddb%3A0x23f07f08398117fa!2sScouting%20Hopman%20Masselman%20Group!5e0!3m2!1sen!2snl!4v1741867055534!5m2!1sen!2snl"
					width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
					referrerpolicy="no-referrer-when-downgrade" title="Map van de locatie van de HMG Soest"></iframe>
				</iframe>
			</div>
		</div>
	</section>
</main>