---
title: Contact
description: Neem contact op met de HMG Soest.
layout: page.njk
leaflet: yes
---


<main class="max-w-5xl mx-auto">
	<section class="card bg-base-100 shadow-lg mt-10 lg:px-4">
		<div class="card-body">
			<h1 class="text-3xl font-semibold mb-4">Contact</h1>
			<p class="mb-4">
				Je kunt direct contact opnemen met de speltakleiding, het bestuur of het verhuur.
			</p>

			<h2 class="text-2xl">Algemeen</h2>

			<div class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-8">
				<a href="/contact/algemeen" class="btn btn-xl">Algemeen - Het Bestuur</a>
				<a href="/contact/verhuur" class="btn btn-xl btn-secondary" rel="nofollow">Verhuur - De Stichting</a>
			</div>

			<p class="mb-4">
				<b class="font-bold">Dringende gevallen gaande de gebouwen of terrein</b>
			</p>
			<p class="mb-4">
				Ziet u iets bij of rondom de gebouwen dat u niet vertrouwd kunt u in dringende gevallen bellen met
				telnr. <a href="tel:0622071655" class="link text-accent">06-22071655</a>.
				U belt dan met het stichting bestuur dat de gebouwen beheert.
			</p>

			<h2 class="text-2xl">De Speltakken</h2>
			<p>Bij de speltakken kunt u de inschrijven om lid te worden. Ook kunt u hier terecht voor vragen over de
				speltakken.</p>
			</p>

			<div class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-8">
				<a href="/contact/bevers" class="btn btn-xl btn-primary" rel="nofollow">Bevers - 5-7 Jaar</a>
				<a href="/contact/welpen" class="btn btn-xl btn-primary" rel="nofollow">Welpen - 7-11 Jaar</a>
				<a href="/contact/verkenners" class="btn btn-xl btn-primary" rel="nofollow">Verkenners - 11-15 Jaar</a>
				<a href="/contact/rowans" class="btn btn-xl btn-primary" rel="nofollow">Rowans - 15-18 Jaar</a>
				<a href="/contact/voortrekkers" class="btn btn-xl btn-primary" rel="nofollow">Voortrekkers 18+</a>
			</div>

			<h2 class="text-2xl">Andere Contacten</h2>

			<div class="grid grid-cols-1 gap-6 mb-8">
				<a href="/contact/NKP" class="btn btn-xl btn-secondary" rel="nofollow">Het Nederlands Kampioenschap
					Pionieren</a>
				<a href="/contact/webmaster" class="btn btn-xl" rel="nofollow">Webmaster</a>
				<a href="https://www.ijsberenweekend.nl/contactform" class="btn btn-xl"
					rel="nofollow">IJsberenweekend</a>
				
				<p>
					Binnen de HMG hechten we veel waarde aan een open en veilige groepscultuur, gebaseerd op wederzijds
					vertrouwen tussen leden, ouders en vrijwilligers. Mocht u ongewenst gedrag signaleren of twijfels
					hebben over bepaalde situaties binnen de groep, dan kunt u dit bespreken met onze
					vertrouwenspersoon.
				</p>
				<p>
					We moedigen directe communicatie aan en adviseren om bij verschillen in verwachtingen,
					onduidelijkheden over werkwijzen of afspraken, of bij zorgen over onveilig gedrag, eerst in gesprek
					te gaan met de betrokkenen. Indien dit niet leidt tot een bevredigende oplossing, kunt u contact
					opnemen met de voorzitter of groepsbegeleider.
				</p>
				<p>
					Wanneer deze stappen niet toereikend zijn, staat onze vertrouwenspersoon klaar om met u mee te
					denken en te adviseren over mogelijke vervolgstappen.
				</p>
				<a href="/contact/vertrouwenspersoon" class="btn btn-xl" rel="nofollow">Vertrouwenspersoon</a>
			</div>

			<p></p>
		</div>
	</section>

	<section class="card bg-base-100 shadow-lg my-10">
		<div class="card-body">
			<h2 class="text-xl font-semibold mb-4">Locatie</h2>
			<div id="map" class="aspect-w-16 aspect-h-9" style="min-height: 450px"></div>
            <script>
                var HMGCoordinates = [52.1553162, 5.2994357];
                var map = L.map('map').setView(HMGCoordinates, 15);
                map.panBy(new L.Point(0, -(map.getSize().y*0.2)), {animate: false});
                map.zoomControl.setPosition("bottomright");
                L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    maxZoom: 19,
                    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
                }).addTo(map);
                L.marker(HMGCoordinates).addTo(map);
                var tooltip = L.tooltip(HMGCoordinates, {content: '<strong>Scouting Hopman<br />Masselman Groep</strong>',permanent:true, direction:"auto", offset: [20, -12]})
                    .addTo(map);
                L.Control.Navigation = L.Control.extend({
                    onAdd: function(map) {
                        container = L.DomUtil.create('div', 'min-w-2xs rounded bg-base-100 shadow-sm');
                        contents = L.DomUtil.create('section', 'card-body p-2', container)
                            contents.innerHTML = `<p class="p-name org u-org" itemprop="name">
    <strong>Hopman Masselman Groep</strong>
</p>
<p>
    <address class="h-adr" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
        <span class="p-street-address" itemprop="streetAddress">Sparrenlaan 22</span>, <br />
        <span class="p-postal-code" itemprop="postalCode">3768 BG</span>
        <span class="p-locality" itemprop="addressLocality">Soest</span>
        <meta class="p-country-name" itemprop="addressCountry" content="Nederland" />
    </address>
    <a style="display:flex; line-height: 1.7em;" target="_blank" href="https://maps.google.com/maps/dir//Scouting+Hopman+Masselman+Group+Sparrenlaan+22+3768+BG+Soest/@52.1553162,5.2994357,14z">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6" style="display:inline; margin-left: -4px" role="img">
<path fill-rule="evenodd" d="m11.54 22.351.07.04.028.016a.76.76 0 0 0 .723 0l.028-.015.071-.041a16.975 16.975 0 0 0 1.144-.742 19.58 19.58 0 0 0 2.683-2.282c1.944-1.99 3.963-4.98 3.963-8.827a8.25 8.25 0 0 0-16.5 0c0 3.846 2.02 6.837 3.963 8.827a19.58 19.58 0 0 0 2.682 2.282 16.975 16.975 0 0 0 1.145.742ZM12 13.5a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" clip-rule="evenodd" /></svg><span style="align-self: flex-end;">Google route beschrijving</span></a>
</p> `;
                        return container;
                    },

                    onRemove: function(map) {
                        // Nothing to do here
                    }
                });

                L.control.navigation = function(opts) {
                    return new L.Control.Navigation(opts);
                }

                L.control.navigation({ position: 'topleft' }).addTo(map);
            </script>
		</div>
	</section>
</main>
