---
title: Huishoudelijk Reglement
description: Het huishoudelijk reglement van de HMG.
---
<a href="https://docs.google.com/document/d/e/2PACX-1vSLJHnmZDfq__5N-h2OxDNUT7RGFKDpAJqC2KJPDmoDvv5pwnzjkhiGsAdfEW4s31w8n1H9BnM3HCMl/pub">Directe link</a>
<iframe class="w-full min-h-[calc(100vh-16rem)]" src="https://docs.google.com/document/d/e/2PACX-1vSLJHnmZDfq__5N-h2OxDNUT7RGFKDpAJqC2KJPDmoDvv5pwnzjkhiGsAdfEW4s31w8n1H9BnM3HCMl/pub?embedded=true"></iframe>